{#
/**
 * @file
 *
 * Empty cart page template.
 *
 * @ingroup themeable
 */
#}
{% import "@belgrade/macros.twig" as svg %}

<div class="cart-empty-page text-align-center h4">
  <div>
    {{ svg.getIcon('bag-x-fill', 42, 42, 'text-primary mb-4') }}
  </div>
  {{ 'Your shopping cart is empty.'|t }}
</div>
