/**
 * @file
 * Belgrade theme commerce overrides.
 */

// Cart Page.
.cart-form {
  margin-bottom: $spacer * 3;
  // multiple cart forms.
  + .cart-form {
    padding-top: $spacer * 3;
    border-top: $border-width solid $border-color;
  }
  // Remove button
  .views-field-remove-button {
    text-align: center;
  }
  .form-actions {
    margin-top: $spacer * 3;
    text-align: right;
  }
}

// Catalog view.
.view-product-catalog {
  @include media-breakpoint-up("lg") {
    .form-inline {
      display: flex;
      flex-wrap: wrap;

      .form-label {
        margin: 0 0.5rem 0 0;
        white-space: nowrap;
        font-weight: bold;
      }

      .form-item,
      .form-actions {
        display: flex;
        align-items: center;
      }

      .form-item {
        margin: 0.5rem 1.5rem 0.5rem 0 !important;
      }
    }
  }
}

// Catalog images.
.image-style-catalog {
  width: 100%;
  max-width: none;
}
