/**
 * @file
 * Belgrade theme implementation for the commerce wishlist.
 */
@import "../../global";

.wishlist-item {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  border-top: 1px solid $gray-300;
  .wishlist-item__entity {
    flex: 1 0 auto;
  }

  // details and actions
  .wishlist-item__entity {
    padding: 1rem 0;
  }
  .wishlist-item__details {
    padding: 0 2rem;
    .wishlist-item__quantity {
      margin-right: 1rem;
    }
  }
  .wishlist-item__actions {
    text-align: right;
  }
}
