{#
/**
 * @file
 * Default theme implementation for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 *
 * @ingroup templates
 */
#}
{% if breadcrumb and theme.settings.page_title_breadcrumbs %}
  <ol class="breadcrumb">
    {% for item in breadcrumb %}
      <li {{ item.attributes }}>
        {% if item.url and item.text %}
          <a href="{{ item.url }}">{{ item.text }}</a>
        {% else %}
          {{ item.text }}
        {% endif %}
      </li>
    {% endfor %}
  </ol>
{% endif %}
