{% import "@belgrade/macros.twig" as svg %}

<div class="cart--cart-offcanvas bg-primary text-white h-100 p-4 pt-lg-5">
  <div class="cart--cart-offcanvas__header mb-4 d-flex justify-content-between align-items-center">
    <h2 class="cart--cart-offcanvas__title">Shopping cart</h2>
    <div class="cart--cart-offcanvas__close">
      <button type="button" class="btn-close btn-close-white" aria-label="Close"></button>
    </div>
  </div>
<% if (count > 0) { %>
  <div class="cart-block--offcanvas-contents">
    <div class="cart-block--offcanvas-contents__inner">
      <div class="cart-block--offcanvas-contents__items"></div>
      <div class="cart-block--offcanvas-contents__links">
        <%= links %>
      </div>
    </div>
  </div>
<% } else { %>
  <div>{{ 'Your cart is empty'|t }}</div>
<% } %>
</div>
