//
// Utilities
// ----------------------------
// This file should not contain any CSS

$utilities: map-merge(
  $utilities,
  (
    "cursor": (
      property: cursor,
      class: cursor,
      responsive: false,
      values: (
        "auto": auto,
        "pointer": pointer,
      )
    ),
    "z-index": (
      property: 'z-index',
      class: 'z-index',
      responsive: false,
      values: $z-index,
    ),
    "invert": (
      property: 'filter',
      class: "invert",
      responsive: false,
      values: (
        "white": invert(1) grayscale(100%) brightness(200%),
      )
    )
  )
);
