<div id="commerce-paypal-checkout-custom-card-fields">
  <div class="paypal-messages"></div>
  <div class="commerce-paypal-card-fields-wrapper">
    <label for="commerce-paypal-card-number">{{ 'Card Number'|t }}</label>
    <div id="commerce-paypal-card-number" class="commerce-paypal-checkout-custom-card-field"></div>
    <label for="commerce-paypal-expiration-date">{{ 'Expiration Date'|t }}</label>
    <div id="commerce-paypal-expiration-date" class="commerce-paypal-checkout-custom-card-field"></div>
    <label for="commerce-paypal-cvv">{{ 'CVV'|t }}</label>
    <div id="commerce-paypal-cvv" class="commerce-paypal-checkout-custom-card-field"></div>
    <div id="payments-sdk__contingency-lightbox"></div>
  </div>
</div>
