//
// Top bar.
// ----------------------------

$top-bar-height:    3.5rem;
$top-bar-font-size: 0.875rem;

.region-top-bar {
  height: $top-bar-height;
  font-size: $top-bar-font-size;
  // Adjust z-index to be above the offcanvas.
  z-index: $zindex-offcanvas + 1;
  @include media-breakpoint-down(sm) {
    font-size: 0.8rem;
    .navigation-toggle svg {
      width: 1.5rem;
    }
    .nav-link {
      padding: 0 .5rem 0 0;
    }
  }
}

