//
// Facets block
// ----------------------------

.facet-item {
  font-size: $font-size-md;
  label {
    font-size: $font-size-base;
    @extend .ms-1;
  }
  // Indent nested facets
  .nav {
    margin-left: -1rem;
  }
  .facet-item {
    font-size: $font-size-base;
    label {
      font-size: $font-size-sm;
    }
  }
}

.facets-checkbox {
  @extend .form-check-input;
}
