{
  "parser": "@babel/eslint-parser",
  "plugins": [
    "jquery",
    "prettier",
    "spellcheck"
  ],
  "extends": [
    "airbnb",
    "plugin:jquery/deprecated",
    "prettier"
  ],
  "globals": {
    "_": true,
    "analytics": true,
    "Backbone": true,
    "bootstrapVersion": true,
    "CKEDITOR": true,
    "classie": true,
    "document": true,
    "domready": true,
    "Drupal": true,
    "drupalSettings": true,
    "drupalTranslations": true,
    "DXPRBuilder": true,
    "dxprTemplates": true,
    "DXPRTextEditor": true,
    "fetch": true,
    "getBootstrapBreakPoints": true,
    "jQuery": true,
    "liveEditingManager": true,
    "matchMedia": true,
    "Modernizr": true,
    "MLMenu": true,
    "once": true,
    "preview": true,
    "Twig": true,
    "window": true,
    "WOW": true
  },
  "rules": {
    "camelcase": 0,
    "capitalized-comments": ["error", "always", {
      "ignorePattern": "",
      "ignoreInlineComments": true,
      "ignoreConsecutiveComments": true
    }],
    "class-methods-use-this": 0,
    "consistent-return": 0,
    "eqeqeq": [2, "smart"],
    "guard-for-in": 2,
    "max-classes-per-file": 0,
    "func-names": 0,
    "no-alert": 0,
    "no-continue": 0,
    "no-constant-condition": 2,
    "no-new": 0,
    "no-param-reassign": 0,
    "no-shadow" : 2,
    "no-undef": 2,
    "no-underscore-dangle": 0,
    "no-unused-vars": [2, {"vars": "local", "args": "none"}],
    "no-use-before-define": 2,
    "strict": 0,
    "no-plusplus": 0,
    "no-restricted-properties": [0, {
      "object": "window",
      "property": "isNaN"
    }],
    "object-curly-spacing": ["error", "always"],
    "template-curly-spacing": 0,
    "prettier/prettier": [
      "error",
      {
        "printWidth": 80
      }
    ],
    "spellcheck/spell-checker": [
      "error",
      {
        "comments": true,
        "strings": false,
        "templates": false,
        "identifiers": false,
        "lang": "en_US",
        "skipWords": [
          "accessor", 
          "checkbox", 
          "dom", 
          "dropdown", 
          "Drupal", 
          "DXPR", 
          "Glyphicons", 
          "jslint",
          "Jur", 
          "multivar",
          "namespace", 
          "Pixeden", 
          "plusplus",
          "undef"
        ],
        "skipIfMatch": [
          "{\\w+}", // E.g. "{paramName}"
          "{^[-\\w]+\\s+<}", // E.g. "<hello> <world>"
          "{[^s]*.js[^s]*}" // .js file
        ],
        "minLength": 3
      }
    ]
  }
}