//
// Author: Jurriaan Roelofs for DXPR. Copyright DXPR.
//
@import "../includes/variables";

.html {
  .form-control,
  input[type=date],
  input[type=datetime-local],
  input[type=email],
  input[type=file],
  input[type=month],
  input[type=number],
  input[type=password],
  input[type=search],
  input[type=tel],
  input[type=text],
  input[type=time],
  input[type=url],
  input[type=week],
  textarea,
  select {
    box-shadow: none;
    border-radius: 3px;
    background: transparent;
    border: 1px solid $gray-lighter;
    height: auto;
    padding: 12px;
    line-height: inherit;
    &:focus {
      box-shadow: none;
      outline: none;
      border-color: $primary;
    }
  }
  select,
  select.form-control {
    height: 2em;
    height: calc(1.6em + 24px);
    padding: 0 12px;
    background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHBvbHlnb24gY2xhc3M9ImNscy0yIiBwb2ludHM9IjEuNDEgNC42NyAyLjQ4IDMuMTggMy41NCA0LjY3IDEuNDEgNC42NyIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIzLjU0IDUuMzMgMi40OCA2LjgyIDEuNDEgNS4zMyAzLjU0IDUuMzMiLz48L3N2Zz4=) no-repeat 98% 50%;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-size: 18px;
  }
  #edit-multi-select {
    height: unset;
  }
  // This hides native dropdown button arrow in IE
  select::-ms-expand {
    display: none;
  }

  .form-control.form-file {
    padding: 8px;
  }
  .input-sm {
    padding: 10px;
  }
  .form-actions .form-submit {
    margin-right: 1em;
  }
}

.form-required:after {
  content: '*';
  display: inline-block;
  padding-left: 3px;
  background-image: none;
}

.has-glyphicons .select-wrapper,
.select-wrapper {
  &::after {
    display: none;
  }
}

.input-group {
  .form-control {
    padding: 8px 12px 7px 12px;
  }
}

.cke_editable_themed {
  padding: 5px;
}

.js {
  input {
    &.ui-autocomplete-input {
      &.ui-autocomplete-loading {
        background-repeat: no-repeat;
      }
    }
  }
}
