// Admin fixes for Drupal using Bootstrap

body.admin-menu {
  margin-top: 28px !important;
  .navbar-fixed-top {
    top: 30px;
  }
}

body.toolbar-fixed .toolbar-oriented .toolbar-bar {
  z-index: 450 !important;
}